*.db
*.egg
*.egg-info
*.log
*.mo
*.orig
*.py[cod]
*.sqlite
*.swp
*.DS_Store
.coverage
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.tox/
develop-eggs/
dist/
eggs/
env/
node_modules/
nosetests.xml
pip-log.txt
sdist/


# Project settings
test/assets/build/
